.container{
    font-size: $pagesFontsize;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.btn{
    &.btn-main{
        background: $color-main;
        color: white;
    }
    &.btn-primary{
        background: $color-primary;
        color: white;
    }
}