
page {
    width: 100%;
    height: 100%;
    font-size: $body-font-size;
    font-family: $font-family;
    line-height: $line-height;
    background-color: $color-body;
    color: $color-text;
    text-rendering: geometricPrecision; //如何优化显示文本
}

view{
    word-break: break-all;
    box-sizing: border-box;
}

image{
    vertical-align: bottom;
}